<!DOCTYPE html>
<html>
<head>
  <title>SiteLogin</title>
</head>
<body>
  <form action='/login' method='POST'>
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
